<%- include('partials/header') %>
<section class="home">
  <div class="hero-content">
    <div class="profile-image">
      <img src="/images/profile.jpg" alt="Rishikesh's Profile Picture">
    </div>
    <div class="hero-text">
      <h2>Hi, I'm Rishikesh</h2>
      <p class="location-title">Mumbai | Full Stack Engineer</p>
      <p class="about-description">
        I'm a <span class="highlight"> Full Stack Developer</span> crafting cutting-edge solutions with secure, scalable, and high-performance architectures. I specialize in JavaScript, Node.js, MongoDB, and love building from backend APIs to frontend UI.
      </p>
      </div>
  </div>
</section>
