<%- include('partials/header') %>

<main class="message-page error-page">
  <div class="container">
    <h2>Oops! Something Went Wrong.</h2>
    <p><%= message %></p>
    <p>Please try again or contact me directly at <a href="mailto:your_portfolio_email@example.com">your_portfolio_email@example.com</a>.</p>
    <a href="/contact" class="back-form-button">Try Again</a>
    <a href="/" class="back-home-button">Back to Home</a>
  </div>
</main>

<%- include('partials/footer') %>