<%- include('partials/header') %>

<main class="message-page success-page">
  <div class="container">
    <h2>Success!</h2>
    <p><%= message %></p>
    <a href="/" class="back-home-button">Back to Home</a>
  </div>
</main>

<%- include('partials/footer') %>