
<body>
    <header class="transparent-header">
        <nav>
            <div class="header-social-links">
                <a href="https://github.com/RishikeshPatil20" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://x.com/patil_r18" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://medium.com/@rishiofficial1820" target="_blank" rel="noopener noreferrer" aria-label="Blog">
                    <i class="fas fa-blog"></i>
                </a>
            </div>
        </nav>
    </header>
    <main>